body
{
	background-image: url("img/tlo4.png");	
	font-size: 20px;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
}

#topBar
{
	margin-bottom: 0px;
	background-color: #6495ED;
	padding-top: 1px;
	padding-bottom: 1px;

}

#topnav
{
	background-color: #0066cc;
	text-align: center;
}

.menu
{
	list-style-type: none;
	margin: 0;
	padding: 10px;
	font-size: 18px;
	min-height: 38px;
	line-height: 200%;
}

.menu > li/* stylizujemy pojedynczy list item w klasie menu*/
{
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	border-right: 1px dashed #0a2b42;
}

.menu > li:first-child/* dla peirwszego dziecka*/
{
	border-left: 1px dashed #0a2b42;
}

.menu a/*usuuwanie domyslnego stylizowania linków*/
{
	color: #00008B;
	text-decoration: none;
}

.menu a:hover
{
	color: #0a2b42;
}

#sessionTime
{
	text-align: right;
	padding-right: 15px;
	padding-top: 5px;
	color: #00008B;
}

#LoginContainer
{
	text-align: center;
	padding: 10px;
	padding-top: 5px;
	color: #00008B;
	font-size: 30px;
}

.infoBar
{
	background-color: #0066cc;
	/*position: absolute;
	bottom: 0;*/
	margin-top: 100px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	color: #00008B;
    font-family: 'Josefin Sans', sans-serif;
	
}

.infoBarSingle
{
	background-color: #0066cc;
	position: absolute;
	bottom: 0;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	color: #00008B;
    font-family: 'Josefin Sans', sans-serif;
	
}

h1.logo
{
	font-size: 44px;
	font-weight: 700;
	text-align: center;
	/*text-transform: uppercase;*/
	letter-spacing: 5px;
	color: #00008B;
    font-family: 'Josefin Sans', sans-serif;
}

h1.mainMessage
{
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	color: #00008B;
    font-family: 'Josefin Sans', sans-serif;
}

#MainPageGallery
{
	margin-left: auto;
	margin-right: auto;
	padding: 40px;	
	background-image: url("img/slajd1.jpg");
	width: 420px;
	height: 220px;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	color: black;
	font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
	
}

#LoginContainer
{
	background-color: #6495ED;
	width: 300px;
	padding: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	
	-webkit-box-shadow: 0px 10px 2px -7px #000000, -1px -1px 0px 0px rgba(100,149,237,0.5); 
	box-shadow: 0px 10px 2px -7px #000000, -1px -1px 0px 0px rgba(100,149,237,0.5);
	-moz-box-shadow: 0px 10px 2px -7px #000000, -1px -1px 0px 0px rgba(100,149,237,0.5); 
	/* box shadow generator*/
}

#MainContainer
{
	background-color: #6495ED;
	width: 1000px;
	padding: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	
	-webkit-box-shadow: 0px 10px 2px -7px #000000, -1px -1px 0px 0px rgba(100,149,237,0.5); 
	box-shadow: 0px 10px 2px -7px #000000, -1px -1px 0px 0px rgba(100,149,237,0.5);
	-moz-box-shadow: 0px 10px 2px -7px #000000, -1px -1px 0px 0px rgba(100,149,237,0.5); 
	/* box shadow generator*/
}

input[type=text],/* określamy jaki input, mozna tez przydzielic klasę*/
input[type=password],
input[type=email]
{
	width: 300px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;/*trzeba ustawic bo input nie dziedziczy po body*/
	padding: 10px;
	box-sizing: border-box;/* wymusza szerokosc jaka ma pilnowac przegladarka, zeby pola edycyjne nie byly dluzsze od pola submi*/
	outline: none;
	margin-top: 10px;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(13,19,255,0);
	-moz-box-shadow: 0px 0px 10px 2px rgba(13,19,255,0);
	box-shadow: 0px 0px 10px 2px rgba(13,19,255,0);
	border: 2px solid #1a1aff;
	background-color: #e9f3e9;
	color: #000033;/*dla czcionki*/
}

input[type=submit]
{
	width: 300px;
	background-color: #00008B;
	font-size:20px;
	color: white;
	padding: 15px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;/*ustawia kursor na łapke po najechaniu*/
	letter-spacing: 2px;
	outline: none;/*wylaczamy zewnetrzna obwodke*/
	font-family: 'Josefin Sans', sans-serif;
}

#userRegister
{
	color: white;
	font-size:15px;
	text-align: left;
	padding-top: 10px;
}


.checkbox
{
	color: white;
	font-size:12px;
	text-align: left;
	padding: 10px 10px;

}

.checkbox > label
{
	cursor: pointer;
	font-family: 'Josefin Sans', sans-serif;

}


input[type=checkbox]
{
	cursor: pointer;
	background-color: #00008B;
}


input[type=submit]:focus/*ten na którym jest zaznaczone */
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(56,255,237,0);
	-moz-box-shadow: 0px 0px 15px 5px rgba(56,255,237,0);
	box-shadow: 0px 0px 15px 5px rgba(56,255,237,0);
}

input[type=submit]:hover
{
	background-color: #0000cc;
}

input::-webkit-input-placeholder/*stylizowanie placeholder*/
{
    color: #999;
}
input:focus::-webkit-input-placeholder
{
    color: #000033
}
/* Firefox < 19 */
input:-moz-placeholder
{
    color: #999;
}
input:focus:-moz-placeholder
{
    color: #000033
}
/* Firefox > 19 */
input::-moz-placeholder
{
    color: #999;
}
input:focus::-moz-placeholder
{
    color: #000033
}
/* Internet Explorer 10 */
input:-ms-input-placeholder
{
    color: #999;
}
input:focus:-ms-input-placeholder
{
    color: #000033
}
